
**/__pycache__
.venv

# VSCode
.vscode/
.history/
*.code-workspace

# PyCharm / IntelliJ
.idea/
*.iml

# Python
*.egg-info/
build/
dist/

# config
.env

# other

*_query_record.jsonl
xxxx_random_stuff*
evaluation_results.csv
test/tryout_*